<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="Signup.css">
</head>
<body>

    <header class="Signup">
        <img src = "bubble.png" class = "Signup__bubble" alt = "" />
        <h1 class = "Signup__title">Sign Up</h1>
    </header>

        <div class="Signup__content">
            <div class="Signup__email">
              <h2 class="Signup__email__ask">Enter e-mail address:</h2>
             
                  <input type="text" name = "" class="Signup__email__input" placeholder="example@youremail.com">
        
              <img src = "envelope.png" class = "Signup__envelope" alt = "" />
            </div>

            <div class="Signup__pass">
                <h2 class="Signup__pass__ask">Enter your password:</h2>
       
                    <input type="text" name = "" class="Signup__pass__input" placeholder="Password123">

                <img src = "key.png" class = "Signup__key1" alt = "" />

            </div>

            <div class="Signup__confirm">
                <h2 class="Signup__confirm__ask">Confirm your password:</h2>
              
                    <input type="text" name = "" class="Signup__confirm__input" placeholder="Password123">
   
                <img src = "key.png" class = "Signup__key2" alt = "" />

            </div>


            <input type="submit" value = "Submit" class = "Signup__submit__btn">

        </div>

</body>
