<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="EnterLocation.css">
</head>
<body>

 <div class = "EnterLocation">


    <div class = "EnterLocation__menu">
        <p class = "EnterLocation__name" >NAME OF USER</p>


        <div class = "EnterLocation__options">
            <a href="/AfterLogin/AfterLogin.html" class="EnterLocation__faqs">Covid-19 FAQ's</a>
            <a href="" class="EnterLocation__symptoms">Input Symptoms</a>
            <a href="/EnterLocation/EnterLocation.html" class="EnterLocation__location">Enter Location</a>
            <a href="https://www.worldometers.info/coronavirus/" class="EnterLocation__tracker">Covid-19 Tracker</a>
            <a href="/Login/Login.html" class="EnterLocation__logout">Log Out</a>
        </div>
        
    </div>


    <div class = "EnterLocation__content"> 
        
        <div class="EnterLocation__location__container">
              <h2 class="EnterLocation__location__ask">Enter your postal code:</h2>
              <input type="text" name = "" class="EnterLocation__location__input" placeholder="A1B 2C3">
              <a href="/DisplayHospital/DisplayHospital.html" class="EnterLocation__submit__btn">Submit</a>
        </div>

    </div>

 </div>
</body>