<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="AfterLogin.css">
</head>
<body>

 <div class = "AfterLogin">


    <div class = "AfterLogin__menu">
        <p class = "AfterLogin__name" >NAME OF USER</p>


        <div class = "AfterLogin__options">
            <a href="/AfterLogin/AfterLogin.html" class="AfterLogin__faqs">Covid-19 FAQ's</a>
            <a href="" class="AfterLogin__symptoms">Input Symptoms</a>
            <a href="/EnterLocation/EnterLocation.html" class="AfterLogin__location">Enter Location</a>
            <a href="https://www.worldometers.info/coronavirus/" class="AfterLogin__tracker">Covid-19 Tracker</a>
            <a href="/Login/Login.html" class="AfterLogin__logout">Log Out</a>
        </div>
        
    </div>


    <div class = "AfterLogin__display"> 
        <div class = "one">
            <h3 class = "q1">What is COVID-19?</h3>
            <p class = "a1">COVID-19 is the infectious disease caused by the most 
                recently discovered coronavirus. This new virus and disease were unknown 
                before the outbreak began in Wuhan, China, in December 2019. COVID-19 is 
                now a pandemic affecting many countries globally.</p>
        </div>

        <div class = "two">
            <h3 class = "q2">What are the symptoms of COVID-19?</h3>
            <p class = "a2">The most common symptoms of COVID-19 are fever, dry cough, and tiredness. 
                Some patients may have aches and pains, nasal congestion, sore throat or diarrhea. These 
                symptoms are usually mild and begin gradually. Some people become infected but only have very 
                mild symptoms.</p>
        </div>


        <div class = "three">
            <h3 class = "q3">What does it mean to self-isolate?</h3>
            <p class = "a3">Self-isolation is when a person who is experiencing fever, cough or other COVID-19 
                symptoms stays at home and does not go to work, school or public places. This can be voluntarily 
                or based on his/her health care provider’s recommendation. However, if you live in an area with
                 malaria or dengue fever it is important that you do not ignore symptoms of fever. Seek medical help. 
                 When you attend the health facility wear a mask if possible, keep at least 1 metre distant from other 
                 people and do not touch surfaces with your hands. If it is a child who is sick help the child stick to this advice.</p>
        </div>
        
        <div class = "four">
            <h4 class = "q4">How to grocery shop safely?</h4>
            <p class = "a4">When grocery shopping, keep at least 1-metre distance from others and avoid touching your eyes, mouth and nose. 
                If possible, sanitize the handles of shopping trolleys or baskets before shopping. Once home, wash your hands thoroughly and 
                also after handling and storing your purchased products.</p>
        </div>

    </div>

 </div>
</body>