<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="Dashboard.css">
</head>
<body>

    <header class="Dashboard">
        <img src = "bubble.png" class = "Dashboard__bubble" alt = "" />
        <h1 class = "Dashboard__title">TITLE</h1>

        <div>
            <img src = "Square.png" class = "Dashboard__square" alt = "" />
            <p class = "Dashboard__logo" alt = "">Logo</p>
        </div>

        <p class = "Dashboard__slogan" alt ="">Slogan</p>

        <div className = 'Dashboard__buttons'>
                <a href="" class="Dashboard__login">Log In</a>
                <a href="" class="Dashboard__signup">Sign Up</a>
            </div>

    </header>
</body>
</html>

