<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="Login.css">
</head>
<body>

    <header class="Login">
        <img src = "bubble.png" class = "Login__bubble" alt = "" />
        <h1 class = "Login__title">Log In</h1>
    </header>

        <div class="Login__content">
            <div class="Login__email">
              <h2 class="Login__email__ask">Enter e-mail address:</h2>
       
                  <input type="text" name = "" class="Login__email__input" placeholder="example@youremail.com">
   
              <img src = "envelope.png" class = "Login__envelope" alt = "" />

            </div>

            <div class="Login__pass">
                <h2 class="Login__pass__ask">Enter your password:</h2>
                
                    <input type="text" name = "" class="Login__pass__input" placeholder="Password123">
                
                <img src = "key.png" class = "Login__key" alt = "" />

            </div>

            <input type="submit" value = "Submit" class = "Login__submit__btn">

        </div>

</body>
