<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="DisplayHospital.css">


</head>
<body>

 <div class = "EnterLocation">


    <div class = "EnterLocation__menu">
        <p class = "EnterLocation__name" >NAME OF USER</p>


        <div class = "EnterLocation__options">
            <a href="/AfterLogin/AfterLogin.html" class="EnterLocation__faqs">Covid-19 FAQ's</a>
            <a href="" class="EnterLocation__symptoms">Input Symptoms</a>
            <a href="/EnterLocation/EnterLocation.html" class="EnterLocation__location">Enter Location</a>
            <a href="https://www.worldometers.info/coronavirus/" class="EnterLocation__tracker">Covid-19 Tracker</a>
            <a href="/Login/Login.html" class="EnterLocation__logout">Log Out</a>
        </div>
        
    </div>


    <div class = "EnterLocation__content"> 
        
        <div class="EnterLocation__location__container">
              <h2 class="EnterLocation__location__ask">Enter your postal code:</h2>
              <input type="text" name = "" class="EnterLocation__location__input" placeholder="A1B 2C3">
              <a href="/DisplayHospital/DisplayHospital.html" class="EnterLocation__submit__btn">Submit</a>
        </div>

    </div>

    <div class = "DisplayHospital__1">
        <a href="#openModal1" class="DisplayHospital__btn1">Victoria Hospital</a>
        <p class="DisplayHospital__address1">800 Commissioners Rd E, London, ON N6A 5W9</p>
        <p class="DisplayHospital__distance1">11.5km</p>

        <div id = "openModal1" class = "modalDialog">
            <div>
                <a href = '#close' title = "Close" class = "Close">X</a>
                <h1 class = "DisplayHospital__available">Number of Available:</h1>
                <img src = "doctors.png" class = "DisplayHospital__doctors" alt = "" />
                <img src = "gloves.png" class = "DisplayHospital__gloves" alt = "" />
                <img src = "masks.png" class = "DisplayHospital__masks" alt = "" />
                <img src = "medications.png" class = "DisplayHospital__medications" alt = "" />
                <img src = "nurses.png" class = "DisplayHospital__nurses" alt = "" />
                <img src = "ventilatedbeds.png" class = "DisplayHospital__ventilatedbeds" alt = "" />
                <p class = "DisplayHospital__doctors1num">Doctors : 55</p>
                <p class = "DisplayHospital__gloves1num">Gloves : 55</p>
                <p class = "DisplayHospital__masks1num">Masks : 55</p>
                <p class = "DisplayHospital__medications1num">Medications : 55</p>
                <p class = "DisplayHospital__nurses1num">Nurses : 55</p>
                <p class = "DisplayHospital__ventilatedbeds1num">Ventilated Beds : 55</p>
            </div>
          </div>

    </div>

    <div class = "DisplayHospital__2">
        <a href="#openModal2" class="DisplayHospital__btn2">University Hospital</a>
        <p class="DisplayHospital__address1">339 Windermere Rd, London, ON N6A 5A</p>
        <p class="DisplayHospital__distance1">5.6km</p>

        <div id = "openModal2" class = "modalDialog">
            <div>
                <a href = '#close' title = "Close" class = "Close">X</a>
                <h1 class = "DisplayHospital__available">Number of Available:</h1>
                <img src = "doctors.png" class = "DisplayHospital__doctors" alt = "" />
                <img src = "gloves.png" class = "DisplayHospital__gloves" alt = "" />
                <img src = "masks.png" class = "DisplayHospital__masks" alt = "" />
                <img src = "medications.png" class = "DisplayHospital__medications" alt = "" />
                <img src = "nurses.png" class = "DisplayHospital__nurses" alt = "" />
                <img src = "ventilatedbeds.png" class = "DisplayHospital__ventilatedbeds" alt = "" />
                <p class = "DisplayHospital__doctors2num">Doctors : 66</p>
                <p class = "DisplayHospital__gloves2num">Gloves : 66</p>
                <p class = "DisplayHospital__masks2num">Masks : 66</p>
                <p class = "DisplayHospital__medications2num">Medications : 66</p>
                <p class = "DisplayHospital__nurses2num">Nurses : 66</p>
                <p class = "DisplayHospital__ventilatedbeds2num">Ventilated Beds : 66</p>
            </div>
          </div>

    </div>

    <div class = "DisplayHospital__3">
        <a href="#openModal3" class="DisplayHospital__btn3">St. Joseph's Hospital</a>
        <p class="DisplayHospital__address1">268 Grosvenor St, London, ON N6A 4V2</p>
        <p class="DisplayHospital__distance1">6.7km</p>

        <div id = "openModal3" class = "modalDialog">
            <div>
                <a href = '#close' title = "Close" class = "Close">X</a>
                <h1 class = "DisplayHospital__available">Number of Available:</h1>
                <img src = "doctors.png" class = "DisplayHospital__doctors" alt = "" />
                <img src = "gloves.png" class = "DisplayHospital__gloves" alt = "" />
                <img src = "masks.png" class = "DisplayHospital__masks" alt = "" />
                <img src = "medications.png" class = "DisplayHospital__medications" alt = "" />
                <img src = "nurses.png" class = "DisplayHospital__nurses" alt = "" />
                <img src = "ventilatedbeds.png" class = "DisplayHospital__ventilatedbeds" alt = "" />
                <p class = "DisplayHospital__doctors3num">Doctors : 77</p>
                <p class = "DisplayHospital__gloves3num">Gloves : 77</p>
                <p class = "DisplayHospital__masks3num">Masks : 77</p>
                <p class = "DisplayHospital__medications3num">Nurses : 77</p>
                <p class = "DisplayHospital__nurses3num">Nurses : 77</p>
                <p class = "DisplayHospital__ventilatedbeds3num">Ventilated Beds : 77</p>
            </div>
          </div>
    </div>

   



 </div>
</body>